.main {
    padding-top: 100px;
    position: relative;
    background-image: url('../img/mainImg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
}
.main::after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom:0;
    background-color:var(--bcg-color);
    opacity:0.55;
    width: 100%;
    height: 100%;
}

.main__container {
    z-index: 1;
    position: relative;
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    color:var(--white-color);
}
.main__wrapper {
    position: absolute;
    left:50%;
    top: 40%;
    text-align: center;
}

.main__hello {
    font-weight: var(--text-weight-bold);
    font-size: 24px;
}

.main__name {
    font-size: 50px;
    font-weight: var(--text-weight-bold);
    margin-bottom:15px;
    width: 420px;
    height: 60px;

}

.main__social-media {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    }
.main__social-media a{
    margin-right: 15px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__social-media img{
    width: 24px;
    height: 24px;
}
.main__social-media a:hover{
    background-color: var(--main-color);
    transition: 0.4s;
    border-radius: 80%;
}
.main__social-media a:active{
    background-color: #d2995d;
}

.main__phone-number {
    font-size: 14px;
    font-weight: var(--text-weight-semiBold);
}