@media only screen and (max-width: 1200px) {
    .footer__container {
        max-width: 960px;
    }

}
@media only screen and (max-width: 992px){
    .footer__container {
        max-width: 720px;
    }

}


@media only screen and (max-width: 768px){
    .footer__container {
        max-width: 540px;
    }

}

@media only screen and (max-width: 576px){

    .footer__container {
        max-width: 80%;
    }
    .footer__wrapper{
        font-size: 8px;
    }

}